/* All CSS */

body {
    background-color: white;
    color: #363238;
}

#logo-header {
    background-color: #d0e3e9;
    text-align: center;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#navigation-bar {
    background-color: black;
    text-align: center;

    position: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    top: 107px;
}

.navbar {
    padding: 0;
}

.dropbtn {
    background-color: black;
    color: #d0e3e9;

    padding: 20px 16px;

    border: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;

    border-left: 1px solid #d0e3e9;
    border-right: 1px solid #d0e3e9;

    flex: 1;
}
  
.dropdown-content {
    background-color: black;
    color: #d0e3e9;

    display: none;
    position: absolute;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
  
.dropdown-content button {
    background-color: black;
    color: #d0e3e9;
    
    display: block;

    margin-top: 8px;
    margin-bottom: 8px;
    border: none;

    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
  
.dropdown-content button:hover {
    background-color: #d0e3e9;
    color: black;

    border-left: 1px solid black;
    border-right: 1px solid black;

}
  
.dropdown:hover .dropdown-content {
    text-align: center;

    display: block;
}

#news {
    position: relative;
    top: 195px;
    z-index: -1;
}

h1 {
    text-align: center;
}

#news img {
    width: 50%;
}

.primary-entry {
    text-align: center;
}

.primary-entry p {
    margin: 5px auto;
    width: 50%;
}